{% comment %} {% extends 'index.html' %} {% endcomment %}


<body>  
  {% block content %}
    <a href="{% url 'list_images' %}">Назад к списку</a>
    <h1> {{ image.image_file }} </h1>  
    <img src="{{ image.image_file.url}}" alt="{{ image.image_file }}">
 
  <form action="" method="post">
    {% csrf_token %}
    
    <label for="width">width:</label></br>
    <input id="width" type="text" name="width" maxlength="10"></br>

    <label for="height">height:</label></br>
    <input id="height" type="text" name="height" maxlength="10"></br></br>

    <input type="submit" value="Submit">
  </form>
  {% endblock %}
</body>
</html>
